table.dataTable {
	// Cell and column styling. The row styling is handled by the DT base style
	// sheet.
	> tbody > tr > .selected {
		background-color: rgb(var(--dt_background-selected));
		color: rgb(var(--dt_color-selected));

		a {
			color: rgb(var(--dt_link_color-selected));
		}
	}
}

// Info element styling
div.dt-container {
	span.select-info,
	span.select-item {
		margin-left: 0.5em;
	}
}

@media screen and (max-width: 640px) {
	div.dt-container {
		span.select-info,
		span.select-item {
			margin-left: 0;
			display: block;
		}
	}
}
