
$dt-select-tick-line-height: 4px !default; // legacy tick position
$selected-background-color: rgba(224, 224, 224) !default;
$selected-text-color: inherit !default;

@import 'select.dataTables.scss';
