 
// NOTE The styling for row selection is part of the core DataTables stylesheet

// Selection colour for cells and columns
$selected-background-color: rgba(13, 110, 253, 0.9) !default;
$selected-text-color: white;

$dt-select-tick-margin-top: -12px !default;
$dt-select-tick-border: 1px solid black !default;
$dt-select-tick-border-checked: 1px solid white !default;

table.dataTable {
	// Cell and column selector access
	> tbody > tr > .selected {
		background-color: $selected-background-color;
		color: $selected-text-color;
	}

	> tbody > tr > td.select-checkbox,
	> tbody > tr > th.select-checkbox {
		position: relative;

		&:before,
		&:after {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 12px;
			height: 12px;
			box-sizing: border-box;
		}

		&:before {
			content: ' ';
			margin-top: -6px;
			margin-left: -6px;
			border: $dt-select-tick-border;
			border-radius: 3px;
		}
	}

	> tbody > tr.selected {
		> td.select-checkbox,
		> th.select-checkbox {
			&:before {
				border: $dt-select-tick-border-checked;
			}

			&:after {
				content: '\2713';
				font-size: 20px;

				margin-top: $dt-select-tick-margin-top;
				margin-left: -6px;

				text-align: center;
			}
		}
	}

	&.compact {
		> tbody > tr > td.select-checkbox,
		> tbody > tr > th.select-checkbox {
			&:before {
				margin-top: -12px;
			}
		}

		> tbody > tr.selected {
			> td.select-checkbox,
			> th.select-checkbox {
				&:after {
					margin-top: -16px;
				}
			}
		}
	}
}

div.dataTables_wrapper {
	span.select-info,
	span.select-item {
		margin-left: 0.5em;
	}
}

html.dark,
html[data-bs-theme="dark"] {
	table.dataTable {
		> tbody > tr > td.select-checkbox,
		> tbody > tr > th.select-checkbox {
			&:before {
				border: 1px solid rgba(255, 255, 255, 0.6);
			}
		}
	}
}

@media screen and (max-width: 640px) {
	div.dataTables_wrapper {
		span.select-info,
		span.select-item {
			margin-left: 0;
			display: block;
		}
	}
}
